The server should accept its inputs over HTTP
The server should accept a range of integer values specified by a start and stop value.
The integer range will be between 0 and (2^32 - 1) 
The server should return an array of objects containing the input and output values.
For example: [{ “in”: 4, result: “4”}]
The return content type should be application/json





Fizzbuzz
The fizzbuzz problem is stated as follows:
For any integer value:
If the integer is divisible by 3: return “fizz”
If the integer is divisible by 5: return “buzz”
If the integer is divisible by 3 and 5: return “fizzbuzz”
Otherwise return a string representation of the integer



The submitted solution should include the following pieces:
The git repository (.git folder) used during development
Source code of the final web server
Source code of any tests built during development
A Dockerfile to build the application into a docker container
Instructions on how to run the web server
Documentation of the API that is sufficient for someone to call the API and verify the result



TODO
=====================
add readme
add test cases
docker stuff
Documentation on the API
Common, constants stuff
